<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
      <img src="./assets/img/logo.png" style="height:70px;width:80px;">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">
     
          
       
        Infinisea<br><h4>Software<span><p style="font-size:12px">PVT LTD</p></span></h4></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#home">Home</a></li>
          <li class="about"><a href="#"><span>About</span><i class="bi bi-chevron-down"></i></a>
            <ul>
            <li><a href="#">Introduction</a></li>
              <li><a href="#">Vision</a></li>
              <li><a href="#">Mission</a></li>
            </ul>
            </li>

          <li class="services"><a href="#"><span>Services</span><i class="bi bi-chevron-down"></i></a>
            <ul>
            <li><a href="#">Application Services</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Business Strategy</a></li>
               <li><a href="#">Data Analtyics</a></li>
                <li><a href="#">Operating Models</a></li>
                 <li><a href="#">Technology Consultancy</a></li>
                  <li><a href="#">Business Process Outsourcing</a></li> <li>
                    <a href="#">Technology Innovation</a></li>
            </ul>
            </li>


             <li class="projects"><a href="#"><span>Projects</span><i class="bi bi-chevron-down"></i></a>
            <ul>
            <li><a href="#">EMB-EBill</a></li>
              <li><a href="#">Tender Management</a></li>
              <li><a href="#">Huuman Resouce Management System</a></li>
               <li><a href="#">Property Management</a></li>
                <li><a href="#">Complete ERP Solution</a></li>
                 <li><a href="#">Design One Of Your Choice</a></li>
                  
            </ul>
            </li>
          <li class="dropdown"><a href="#"><span>Career</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Internship</a></li>
              <li><a href="#">Volutership</a></li>
              <li class="dropdown"><a href="#"><span>Vacancy</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Career</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Recruitment Process</a></li>
            
            </ul>
          </li>
           <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#contact" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header>
  <!-- Hero-Section -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

     <!--  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h2>Powerful Digital Solutions With Infinisea Software<span>.</span></h2>
          <h6>"I owe my success to having listened respectfully to the very best advice, and then going away and doing the exact opposite."</h6>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Lorem Ipsum</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">Dolor Sitema</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Sedare Perspiciatis</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Magni Dolores</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Nemos Enimade</a></h3>
          </div>
        </div>
      </div> -->

      <h1>YOUR NEXT DOOR <span id="yellow">DIGITAL SOLUTION</span></h1>

      <div id="mySidenav" class="sidenav">
  <a href="#" id="contactus"><i class="bx bxl-twitter ml-3"></i>Contact Us</a>
  <a href="#" id="query"><i class="bx bxl-twitter ml-3"></i>Ask a Query</a>
  <a href="#" id="book"><i class="bx bxl-twitter ml-3"></i>Book an Appointment</a>
  <a href="#" id="notices"><i class="bx bxl-twitter ml-3"></i>Notices</a>
</div>


    </div>
  </section>