
<app-home></app-home>
<app-about></app-about>
<app-clients></app-clients>
<app-features></app-features>
<app-services></app-services>
<app-cta></app-cta>
<app-portfolio></app-portfolio>
<app-counts></app-counts>
<app-testimonials></app-testimonials>
<app-team></app-team>
<app-contact></app-contact>
<app-footer></app-footer>
<router-outlet></router-outlet>
